@page "/pair"
@using CalcViewer.Components
<div class="p-0 m-0 col-12">
    <div class="p-0 m-0 mt-5 text-light">
        <TeamPairsPage selected="@CalcService.PairSelected()" compaired="@CalcService.PairCompare()" onselect="@((e) => CalcService.PairSelected(e))" oncompare="@((e) => CalcService.PairCompare(e))" />
    </div>
</div>
